/*
Error: Invalid CSS after "#ec3e50 ": expected expression (e.g. 1px, bold), was "!default;"
        on line 7 of my.scss.css

2:   Globals
3: *\/
4: 
5: 
6: // Base Colors
7: $shade-10: #ec3e50 !default;
8: $shade-1: #d7dcdf !default;
9: $shade-0: #fff !default;
10: $teal: #eabc9c !default;
11: 
12: 

Backtrace:
my.scss.css:7
/Users/pgringer/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1189:in `expected'
/Users/pgringer/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/script/lexer.rb:229:in `expected!'
/Users/pgringer/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/script/parser.rb:738:in `assert_done'
/Users/pgringer/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/script/parser.rb:76:in `parse'
/Users/pgringer/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/script/parser.rb:240:in `parse'
/Users/pgringer/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/script.rb:27:in `parse'
/Users/pgringer/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/engine.rb:1151:in `parse_script'
/Users/pgringer/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/engine.rb:757:in `parse_variable'
/Users/pgringer/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/engine.rb:642:in `parse_line'
/Users/pgringer/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/engine.rb:536:in `build_tree'
/Users/pgringer/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/engine.rb:555:in `block in append_children'
/Users/pgringer/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/engine.rb:554:in `each'
/Users/pgringer/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/engine.rb:554:in `append_children'
/Users/pgringer/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/engine.rb:409:in `_to_tree'
/Users/pgringer/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Users/pgringer/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Users/pgringer/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:391:in `run'
/Users/pgringer/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/pgringer/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/exec/base.rb:52:in `parse'
/Users/pgringer/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/exec/base.rb:19:in `parse!'
/Users/pgringer/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.22/bin/sass:13:in `<top (required)>'
/Users/pgringer/.rbenv/versions/2.2.3/bin/sass:23:in `load'
/Users/pgringer/.rbenv/versions/2.2.3/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"#ec3e50 \": expected expression (e.g. 1px, bold), was \"!default;\"\A         on line 7 of my.scss.css\A \A 2:   Globals\A 3: */\A 4: \A 5: \A 6: // Base Colors\A 7: $shade-10: #ec3e50 !default;\A 8: $shade-1: #d7dcdf !default;\A 9: $shade-0: #fff !default;\A 10: $teal: #eabc9c !default;\A 11: \A 12: "; }
